<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <!-- ag-grid-community 19.0.x -->
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community@19.0/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community@19.0/dist/styles/ag-theme-balham.css">

    <!-- semantic-ui 2.3.3 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
</head>

<body>
    <h1 class="ui header">
        <%= htmlWebpackPlugin.options.title %>
        <div class="ui label">
            version
            <div class="detail">
                <%= htmlWebpackPlugin.options.version %>
            </div>
        </div>
        <div class="ui label">
            mode
            <div class="detail">
                <%= htmlWebpackPlugin.options.mode %>
            </div>
        </div>
    </h1>
    <div id="content"></div>
</body>

</html>